* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background: #222222;
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background: #cccccc;
    width: 40%;
    height: 30%;
}

